* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Titles;
    src: url(fonts/Ftreetime-Tiempo.ttf);
}

@font-face {
    font-family: body;
    src: url(fonts/Freetime-Averta.otf)
}

body {
    background-color: #313131;
    font-family: body;
    color: white;
    font-size: 1em;
    line-height: 1.8em;
    font-family: sans-serif;
    animation-name: bg_colour;
    animation-duration: 1s;
}

.container {
    display: grid;
    grid-template-columns: 15% 35% 40% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    padding-top: 10%;
}

nav {
    font-family: Titles;
    right: 0;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    position: fixed;
    background-color: #313131;
    float: right;
    text-align: right;
    
    animation-name: appear_and_move;
    animation-duration: 1.5s;
}

nav a {
    margin-left: 25px;
    color: white;
    font-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

a {
    font-family: Titles;
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}

a:hover {
    color: #F0C22E;
}

h1 {
    font-family: Titles;
    font-size: 1.8em;
    padding-bottom: 5px;
    
    position: relative;
    animation-name: appear_and_move;
    animation-duration: 1.3s;
}

h2 {
    font-family: Titles;
    font-size: 1.4em;
    padding-bottom: 5px;
}

h3 {
    font-family: Titles;
    font-size: 1.2em;
    padding-bottom: 25px;
    padding-top: 100px;
}

p {
    line-height: 1.8;
}

q {
    font-family: Titles;
    font-size: 1.4em;
    max-width: 35em;
}

.item_one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    max-width: 35em;
    
    animation-name: appear;
    animation-duration: 3s;
}

.item_two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
    max-width: 35em;
}

.item_three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
    max-width: 35em;
}

.item_four {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-left: 50px;
    text-align: right;
    max-width: 35em;
}

.item_five {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    margin-left: 50px;
    text-align: right;
    max-width: 35em;
}

.item_six {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    margin-left: 50px;
    text-align: right;
    max-width: 35em;
}

.item_seven {
    grid-column:3;
    grid-row: 8;
    margin-left: 50px;
    text-align: right;
    max-width: 35em;
}

.invisible_item {
    grid-column: 3;
    grid-row: 5;
}

.bottom_nav {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    padding-top: 10%;
    padding-bottom: 15%;
    font-family: Titles;
    font-size: 1.4em;
    float: right;
}

@keyframes appear_and_move {
    from {opacity: 0; top: -200px;}
    to {opacity: 1; top: 0px;}
}

@keyframes appear_and_move_left {
    from {opacity: 0; left: -200px;}
    to {opacity: 1; left: 0px;}
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and 
    (min-device-width : 0px) and 
    (max-device-width : 1024px) 
{
      
    .item_one {
    padding-top: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    }
    
    .item_two {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    }

    .item_three {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    }

    .item_four {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    text-align: left;
    margin-top: 50px;
    padding-bottom: 100px;
    margin-left: 0;
    }

    .item_five {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    text-align: left;
    margin-top: 50px;
    margin-left: 0;
    }

    .item_six {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 5;
    text-align: left;
    margin-left: 0;
    margin-top: 50px;
    }

    .bottom_nav {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 7;
    }
    
    .item_seven {
        opacity: 0;
    }
}