* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Titles;
    src: url(/fonts/Ftreetime-Tiempo.ttf);
}

@font-face {
    font-family: body;
    src: url(fonts/Freetime-Averta.otf)
}

body {
    font-family: body;
    font-size: 1em;
    line-height: 1.8em;
    font-family: sans-serif;
    background-color: white;
    color: black;
}

nav {
    right: 0;
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    position: fixed;
    background-color: white;
    float: right;
    text-align: right;
    z-index: 100;
    
    animation-name: appear_and_move;
    animation-duration: 1.5s;
}

nav a {
    margin-left: 25px;
    color: black;
    font-size: 1em;
    letter-spacing: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

h1 {
    font-family: Titles;
    font-size: 1.8em;
    padding-bottom: 5px;
}

h2 {
    font-family: Titles;
    font-size: 1.4em;
    padding-bottom: 5px;
}

h3 {
    font-family: Titles;
    font-size: 1.2em;
    padding-bottom: 25px;
}

a {
    font-family: Titles;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

a:hover {
    color: #F0C22E;
}

q {
    font-family: Titles;
    font-size: 1.4em;
    max-width: 35em;
}

.container {
    display: grid;
    grid-template-columns: 15% 25% 30% 30%;
    grid-template-rows: 20% 60% 20%;
    padding-top: 15%;
    padding-bottom: 15%;
}

.item_one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 20px;
    
    position: relative;
    animation-name: appear_and_move;
    animation-duration: 1.5s;
}

.item_two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    color: #F0C22E;
        
    position: relative;
    animation-name: appear_and_move;
    animation-duration: 1.2s;
}

.item_three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    max-width: 35em;
    padding-left: 10px;
        
    position: relative;
    animation-name: appear_and_move;
    animation-duration: 1.3s;
}

.container_two {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
    position: relative;
    animation-name: appear_and_move_left;
    animation-duration: 1.5s;
}

.item_four {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    max-width: 35em;
    
}

.item_five {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    padding-top: 10%;
    padding-bottom: 15%;
    font-family: Titles;
    font-size: 1.4em;
    float: right;
}

.item_six {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 50px;
    text-align: right;
    max-width: 35em;
}

@keyframes appear_and_move {
    from {opacity: 0; top: -200px;}
    to {opacity: 1; top: 0px;}
}

@keyframes appear_and_move_left {
    from {opacity: 0; left: -200px;}
    to {opacity: 1; left: 0px;}
}

@media only screen and 
    (min-device-width : 0px) and 
    (max-device-width : 1024px) 
{
      
.item_one {
    padding-top: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

.item_two {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
}

.item_three {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    padding-left: 0;
    padding-top: 10px;
}

.item_four {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    
}

.item_five {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;

}

.item_six {
    opacity: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
        
}