* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Titles;
    src: url(/fonts/Ftreetime-Tiempo.ttf);
}

@font-face {
    font-family: body;
    src: url(fonts/Freetime-Averta.otf)
}

body {
    font-family: body;
    font-size: 1em;
    line-height: 1.8em;
    font-family: sans-serif;
}


.dark {
    background-color: #4A4A4A;
    color: white;
    animation-name: bg_colour;
    animation-duration: 1s;
}

.container {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
}


nav {
    left: 0;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: black;
    animation-name: appear;
    animation-duration: 2s;
}
a:hover {
    color: deeppink;
}

a.white {
    color: white;
}

a.white:hover {
    color: deeppink;
}
  
.bottom_link {
    font-family: Titles;
    font-size: 1.4em;
    padding-bottom: 20%;
    float: right;
}

.text {
    padding-top: 10%;
    width: 500px;
}

.content {

}

.UX {
    padding-bottom: 200px;
}
.Madlug {
    padding-bottom: 200px;
}
.Question {
    padding-bottom: 100px;
}

h3 {
    font-size: 1.8em;
    font-family: Titles;
    padding-bottom: 25px;
}

p {
    line-height: 1.2;
    animation-name: appear;
    animation-duration: 4s;
}

p.dark {
    line-height: 1.4;
}

.one {
    animation-name: appear;
    animation-duration: 2s;
}

.two {
    animation-name: appear;
    animation-duration: 4s;
}

.three {
    animation-name: appear;
    animation-duration: 6s;
}

.four {
    animation-name: appear;
    animation-duration: 8s;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes bg_colour {
    from {background-color: white;}
    to {background-color: #4A4A4A;}
}