* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Titles;
    src: url(/fonts/Ftreetime-Tiempo.ttf);
}

@font-face {
    font-family: body;
    src: url(fonts/Freetime-Averta.otf)
}

body {
    background-color: white;
    font-family: body;
    font-size: 1em;
    line-height: 1.8em;
    font-family: sans-serif;
}


.dark {
    background-color: #313131;
    color: white;
    animation-name: bg_colour;
    animation-duration: 1s;
}

.container {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding-top: 10%;
}


nav {
    top: 40%;
    position: fixed;
}

a {
    font-family: Titles;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

a:hover {
    color: #F0C22E;
}

a.white {
    color: white;
}

a.white:hover {
    color: #F0C22E;
}

h1 {
    font-family: Titles;
    font-size: 1.8em;
    padding-bottom: 5px;
}

h2 {
    font-family: Titles;
    font-size: 1.4em;
    padding-bottom: 5px;
}

h3 {
    font-family: Titles;
    font-size: 1.2em;
    padding-bottom: 25px;
    padding-top: 100px;
}

p {
    line-height: 1.8;
}

p.dark {
    line-height: 1.4;
}

.item_one {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    max-width: 35em;
}

.item_two {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    padding-top: 10%;
    padding-bottom: 15%;
    font-family: Titles;
    font-size: 1.4em;
    float: right;
}

.item_three {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: 50px;
    text-align: right;
    max-width: 35em;
}

.one {
    animation-name: appear;
    animation-duration: 1s;
}

.two {
    animation-name: appear;
    animation-duration: 2s;
}

.three {
    animation-name: appear;
    animation-duration: 3s;
}

.four {
    animation-name: appear;
    animation-duration: 4s;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes bg_colour {
    from {background-color: white;}
    to {background-color: #313131;}
}